@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
li{
    list-style: none;
}
body{
    background-color: #0F1822;
}
.banner-wrap{
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
.banner-wrap ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner-wrap ul li{
    font-size: 20px;
}
.banner-wrap ul li span{
    font-size: 23px;
    color: #FF4654;
}
.banner-wrap ul li:nth-child(3){
    border-bottom: 1px solid #FF4654;
    width: max-content;
}
.info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.info img{
    width: 150px;
    height: auto;
    padding: 10px;
    margin: 10%;
    border-bottom: #FF4654 solid 1px;
}
.main{
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main span{
    color: #FF4654;
    
}
.main li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main h2{
    margin: 20px 0 20px 0;
    padding-bottom: 5px;
    border-bottom: #FF4654 solid 1px;
    width: fit-content;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    font-weight: bold;
}
.about-me{
    width: 50%;
    text-align: center;
}
.about-me p{
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
}
.certificates{
    font-size: 1rem;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
.certs img{
    width: 400px;
    height: auto;
    overflow: visible;
}
.certs ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20%;
    padding: 5%;
    margin-top: 20%;
    background-color: #090f16;
}
.footer ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.footer ul li{
    padding: 10px;
}
i{
    font-size: 1.5rem;
}
i:hover{
    color: #FF4654;
}

/* Responsiveness */
@media screen and (max-width: 720px){
    .info{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .banner-wrap ul li{
        font-size: 20px;
    }
    .banner-wrap ul li span{
        font-size: 20px;
        color: #FF4654;
    }

    .about-me{
        width: 100%;
        text-align: center;
    }
    .certs ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 380px;
    }
}

@media screen and (max-width:350px){
    .footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 270px;
    }
    .certs img{
        width: 250px;
        height: auto;
        overflow: visible;
    }
}